body,div,p{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
}
.container{
	width: 100%;
	height: auto;
}
.container .block_one{
	width: 100%;
	height: 750px;
	background: #E5E5E5;
	margin-top: 100px;
}
.container .block_one_img{
	float: left;
	margin-left: 20%;
}
.container .block_one_txt{
	float: left;
	margin-left: 10%;
	margin-top: 250px;
}
.container .block_one_txt p{
	font-size: 18px;
	line-height: 45px;
}
.block_two{
	width: 100%;
	height: 650px;
	background: #fff;
}
.block_two div{
	float: left;
	margin-top: 70px;	
}
.block_two div p{
	font-size: 16px;
	line-height: 35px;
}
.block_two .block_two_left{
	margin-left: 12%;
	width: 17%;
}
.block_two .block_two_center{
	width: 33%;
}
.block_two .block_two_center li{
	line-height: 35px;	
	font-size: 16px;
}
.block_two .block_two_right{
	float: left;
	margin-left: 3%;
	width: 27%;
}
.block_two .block_two_right p{
	text-indent: 2em;
}
.container .block_three{
	width: 100%;
	height: 400px;
	background: #e5e5e5;
	padding-top: 50px;
}
.block_three_box{
	margin-left: 20%;
	width: 60%;
}
.block_three_box img{
	width: 30%;
	float: left;
	border:2px solid #ccc;
	cursor: pointer;
}

.block_four{
	width: 60%;
	margin-left: 20%;
}
.block_four p{
	font-size: 18px;
	text-indent: 2em;
	line-height: 35px;
}
.block_five{
	width: 100%;
	height: 150px;
	background: #ccc;
	margin-top: 30px;
}
.block_five_box{
	width: 250px;
	margin: auto;
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 20px;
}
